@{
    ViewBag.Title = "Home Page";
    ViewBag.Format = String.Format("{0:dddd}", @ViewBag.Datum);
    int dag = @ViewBag.Id;
}
<script src="~/Scripts/fillComboBox.js"></script>
<script src="~/Scripts/GetResultsByKlas.js"></script>
<form action="~/Home/ResultPage" name="klasform">
   <h1 class="indexTitle">@ViewBag.Format</h1>
  <h3>Klas</h3>
				<div class="ui-widget">
			    <label>Selecteer een klas:  &nbsp;&nbsp;</label>
			    <select id="combobox">
			    	<option value="">Select one.."></option>
				</select>
				</div>
    				<input type="submit" value="OK" class="button" onclick="GetResultsByKlas(@ViewBag.Id)">
                </form>
<form action="~/Home/ResultPage" name="lokaalform">
            <h3>Lokaal</h3>
				<div class="ui-widget">
			    <label>Selecteer een lokaal:  &nbsp;&nbsp;</label>
			    <select id="combobox1">
			    	<option value="">Select one.."></option>
				</select>
				</div>
    				<input type="submit" value="OK" class="button" onclick="GetResultsByLokaal(@ViewBag.Id)">
                </form>					
<form action="~/Home/ResultPage" name="olodform">
			<h3>OLOD</h3>
				<div class="ui-widget">
			    <label>Selecteer een OLOD:&nbsp;</label>
			    <select id="combobox2">
			    	<option value="">Select one.."></option>
				</select>
				</div>	
       				<input type="submit" value="OK" class="button" onclick="GetResultsByOlod(@ViewBag.Id)">
                </form>		         
<form action="~/Home/ResultPage" name="docentform">
			<h3>Docent</h3>
					<div class="ui-widget">
				    <label>Selecteer een docent: </label>
				    <select id="combobox3">
				        <option value="">Select one...</option>
				    </select>
				</div>
        				<input type="submit" value="OK" class="button" onclick="GetResultsByDocent(@ViewBag.Id)">
                </form>		