<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta charset="utf-8" />
        <title>@ViewBag.Naam - TeamX Time Tables</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
       <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        @Styles.Render("~/Content/css")
        <script src="~/Scripts/jquery-comboBox.js"></script>
        
    </head>
    <body>
	<div class="wrapper">
	<div class="header"></div>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Maandag","Maandag", "Home")</li>
                            <li>@Html.ActionLink("Dinsdag", "Dinsdag", "Home")</li>
                            <li>@Html.ActionLink("Woensdag","Woensdag", "Home")</li>
				            <li>@Html.ActionLink("Donderdag","Donderdag", "Home")</li>
				            <li>@Html.ActionLink("Vrijdag","Vrijdag", "Home")</li>
                            <li>@Html.ActionLink("Week","Week", "Home")</li>
                        </ul>
                    </nav>
                
           
        <div id="content">
	<div id="mainContent">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                
                @RenderBody()
            </section>
        </div>
	</div>
        <footer>
            <div>
                <section id="TeamX">
				<header>
					<h3>TeamX</h3>
				</header>
				<p>&copy; 2012 TeamX - licenced under MIT licence - find this project on <a href="https://github.com/TeamXArtesis/ScrumProject">GitHub</a></p>
			</section>
            </div>
        </footer>      
    </body>
</html>
